* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
   background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
   
}

.container-form {
    width: 90%;
    max-width: 960px;
    margin: 80px auto;
    border-radius: 40px;
    box-shadow: 0 3px 7px rgba(0,0,0, 0.7);
    background: #fff;
  
}
.container {
    width: calc(100% - 40px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    color: rgb(230, 17, 17);
    text-align: center;
    margin: 20px auto
}